/* login page form */ 
.login p {
    margin: 1em;;
}
.login input {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: .5em 1em;
    border-radius: 5px;
}
.login .submit {
    cursor: pointer;
    margin-top: 1em;
}
.create-an-account, .login-to-acct {
    border-bottom: 1px solid white;
}