/* update link form*/
.update p {
    margin: 1em;;
}
.update input {
    width: 80%;
    border: 1px solid black;
    outline: none;
    padding: .5em 1em;
    border-radius: 5px;
}
.update .submit {
    cursor: pointer;
}