/* typography */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: white;
}
body {
    background: #1d1d1b;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
.not-found-text a {
    text-align: center;
    font-size: 2em;
}
// go back in delete page
.go-back {
    text-align: center;
    width: 100%;
    display: block;
    text-decoration: underline;
}

.password-reset-p-tag, .password-reset-p-tag  {
    margin: 1em;
    display: block;
    text-align: justify;
}