@use "../../../abstracts/mixins" as *;

/* add link form */
.addlink p {
    margin: 1em;
}

.addlink input {
    @include form-input();
}

/* login page form */
.login p {
    margin: 1em;
}

.login input {
    @include form-input();
}

.create-an-account,
.login-to-acct {
    border-bottom: 1px solid white;
}

/* register page form */
.register p {
    margin: 1em;
}

.register input {
    @include form-input();
}

/* update link form*/
.update p {
    margin: 1em;
}

.update input {
    @include form-input();
}

/* update user form */
.updateuser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

.updateuser-container h2 {
    margin-bottom: 1em;
}

.updateuser-container input {
    @include form-input();
    margin-bottom: 2em;
}
#id_bio {
    background: #131212;
    padding: .7em;
    border: none;
    outline: none;
    width: 30em;
}
// the submit button for all the forms above
.submit {
    cursor: pointer;
    margin-top: 1em;
}


// adding this property here generally so that the forms automatically created by that cannot be styled would also be able to use this rule set
form input {
    @include form-input();
}