/* links components */
.links {
    margin: 1em;
}

.link {
    padding: 1.5em 1em;
    text-align: center;
    border-radius: 20px;
    width: 30em;
    transition: .5s;
    background: #131212;
}
.link:hover {
    width: 35em;
}

.edit-delete-link-container {
    text-align: center;
    margin-top: 0.5em;
}

.edit {
    margin-right: 1em;
}
.delete {
    color: rgb(194, 43, 43);
}
.bottom-btns {
    margin-top: 5em;
    position: sticky;
}

.bottom-btns a {
    display: block;
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    border-radius: 20px;
    width: 200px;
    color: black;
}

.add-a-link {
    background: #13cf33;
}
.preview {
    background: white;
}
.submit {
    background: #131212;
    border: none;
}