/* navbar component */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.nav-links a {
    margin: 0 1em;
    font-family: 'syncopate', sans-serif;
}