{% extends 'lta/main.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="profile-section">
    {% if request.user.profile_image %}
    <img src="{{ request.user.profile_image.url }}" alt="" /><br />
    {% endif %}
    <span class="username">@{{request.user.username}}</span>
    {% if request.user.bio %}
    <span class="bio">{{ request.user.bio }}</span>
    {% endif %}
  </div>

  {% for link in links %}
  <ul class="links">
    <li class="link">
      <a class="link-name" href="{{link.url}}">{{link.name}}</a>
    </li>
    <div class="edit-delete-link-container">
      <a class="edit" href="{% url 'updatelink' link.id %}"
        >Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i
      ></a>
      <a class="delete" href="{% url 'deletelink' link.id %}"
        ><i class="fa fa-trash-o" aria-hidden="true"></i
      ></a>
    </div>
  </ul>
  {% empty %}
  <ul>
    <li class="link">You have no links, click the link below to add</li>
  </ul>
  {% endfor %}
  <div class="bottom-btns">
    <a href="{% url 'addlink' %}" class="add-a-link">Add a link</a>
    <a href="{% url 'preview' request.user.username %}" class="preview"
      >Preview</a
    >
  </div>
</div>

{% endblock %}
