{% extends 'lta/main.html' %}
{% load static %}
{% block content %}

<div class="container">				
	{% for link in links %}
	<ul class="links">
		<li class="link"><a href="{{link.url}}">{{link.name}}</a></li><br>
		<a href="{% url 'updatelink' link.id %}">Edit Link</a> 
		<a href="{% url 'deletelink' link.id %}">Delete Link</a>
	</ul>
	{% empty %}
	<ul>
		<li>No links</li>	
	</ul>										
	{% endfor %}
								
	<a href="{% url 'addlink' %}">Add link</a>
	<a href="">Preview </a> 
</div>

{% endblock %}								
</body>
</html>

