{% extends 'lta/main.html' %}
{% load static %}
{% block content %}

<div class="container">				
	{% for link in links %}
	<ul class="links">
		<li class="link"><a href="{{link.url}}">{{link.name}}</a></li>
		<div class="edit-delete-link-container">
			<a class="edit" href="{% url 'updatelink' link.id %}">Edit Link</a> 
			<a class="delete" href="{% url 'deletelink' link.id %}">Delete Link</a>
		</div>
	</ul>
	{% empty %}
	<ul>
		<li>No links</li>	
	</ul>										
	{% endfor %}
								
	<div class="bottom-links">
		<a href="{% url 'addlink' %}" class="add-a-link">Add a link</a>
		<a href="" class="preview">Preview </a> 
	</div>
</div>

{% endblock %}								
</body>
</html>

