{% extends 'lta/main.html' %}

{% block content %}

				<div class="container">
								<div class="img-container">
												<img class="img" src="link.jpg" alt=""></img>
								</div>
								<div class="text">
												<p>Description</p>
								</div>
								{% for link in links %}
												<ul class="links">
																<li class="link"><a href="{{link.url}}">{{link.name}}</a></li><br>																
																<hr>									
												</ul>
								{% empty %}
												<ul>
																<li>No links</li>	
												</ul>										
								{% endfor %}
								
{% endblock %}								
</body>
</html>

