{% extends 'lta/preview-main.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="profile-section">
    {% if request.user.profile_image %}
    <img src="{{ request.user.profile_image.url }}" alt="" /><br />
    {% endif %} 
    <span class="username">@{{request.user.username}}</span>
    {% if request.user.bio %}
    <span class="bio">{{ request.user.bio }}</span>
    {% endif %}
  </div>

  {% for link in links %}
  <ul class="links">
    <li class="link"><a href="{{link.url}}">{{link.name}}</a></li>
  </ul>
  {% endfor %}
</div>

{% endblock %}
