/* typography */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  background: #1f1917;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.not-found-text a {
  text-align: center;
  font-size: 2em;
}

/* links components */
.links {
  margin: 1em;
  width: 50%;
}

.link {
  padding: 1.5em 1em;
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
}

.edit-delete-link-container {
  text-align: center;
  margin-top: 0.5em;
}

.edit {
  margin-right: 1em;
}

.edit,
.delete {
  border-bottom: 1px solid white;
}

.bottom-btns {
  margin-top: 5em;
  position: -webkit-sticky;
  position: sticky;
}

.bottom-btns a {
  display: block;
  text-align: center;
  margin: 1em auto;
  background: white;
  padding: 1em;
  border-radius: 20px;
  width: 200px;
  color: black;
}

/* profile section component */
.profile-section {
  margin: 2em 1em;
  text-align: center;
}

.profile-section img {
  display: block;
  margin: 1em auto;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

#profile_image-clear_id {
  width: auto;
}

.bio {
  max-width: 30em;
  display: block;
  margin: 1em auto;
}

/* home page layout */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;
}

/* navbar component */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.nav-links a {
  margin: 0 1em;
}

.not-found-img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.not-found-text {
  text-align: center;
  font-size: 1.5em;
  margin: 1em auto;
  display: block;
}

/* add link form */
.addlink p {
  margin: 1em;
}

.addlink input {
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.addlink .submit {
  cursor: pointer;
}

/* login page form */
.login p {
  margin: 1em;
}

.login input {
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.login .submit {
  cursor: pointer;
  margin-top: 1em;
}

.create-an-account,
.login-to-acct {
  border-bottom: 1px solid white;
}

/* register page form */
.register p {
  margin: 1em;
}

.register input {
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.register .submit {
  cursor: pointer;
  margin-top: 1em;
}

/* update link form*/
.update p {
  margin: 1em;
}

.update input {
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.update .submit {
  cursor: pointer;
}

/* update user form */
.updateuser-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateuser-container h2 {
  margin-bottom: 1em;
}

.updateuser-container input {
  width: 100%;
  border: 1px solid black;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin-bottom: 2em;
}

.updateuser-container .submit {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */