/* typography */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  color: white;
}

body {
  background: #1d1d1b;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.not-found-text a {
  text-align: center;
  font-size: 2em;
}

/* links components */
.links {
  margin: 1em;
}

.link {
  padding: 1.5em 1em;
  text-align: center;
  border-radius: 20px;
  width: 30em;
  transition: 0.5s;
  background: #131212;
}

.link:hover {
  width: 35em;
}

.edit-delete-link-container {
  text-align: center;
  margin-top: 0.5em;
}

.edit {
  margin-right: 1em;
}

.delete {
  color: rgb(194, 43, 43);
}

.bottom-btns {
  margin-top: 5em;
  position: -webkit-sticky;
  position: sticky;
}

.bottom-btns a {
  display: block;
  text-align: center;
  margin: 1em auto;
  padding: 1em;
  border-radius: 20px;
  width: 200px;
  color: black;
}

.add-a-link {
  background: #13cf33;
}

.preview {
  background: white;
}

.submit {
  background: #131212;
  border: none;
}

/* profile section component */
.profile-section {
  margin: 2em 1em;
  text-align: center;
}

.profile-section img {
  display: block;
  margin: 1em auto;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background-position: center;
}

#profile_image-clear_id {
  width: auto;
}

.bio {
  max-width: 30em;
  display: block;
  margin: 1em auto;
}

/* home page layout */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;
}

/* navbar component */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.nav-links a {
  margin: 0 1em;
  font-family: "syncopate", sans-serif;
}

.not-found-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.not-found-container img {
  width: 70%;
}

.not-found-container p {
  align-self: center;
  margin: 0 2em;
  width: 30%;
  font-size: 2em;
  font-style: italic;
}

.not-found-container p a {
  background: linear-gradient(0deg, white, white);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom;
}

/* add link form */
.addlink p {
  margin: 1em;
}

.addlink input {
  width: 100%;
  background: #131212;
  outline: none;
  padding: 1em 0.7em;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 1em;
}

/* login page form */
.login p {
  margin: 1em;
}

.login input {
  width: 100%;
  background: #131212;
  outline: none;
  padding: 1em 0.7em;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 1em;
}

.create-an-account,
.login-to-acct {
  border-bottom: 1px solid white;
}

/* register page form */
.register p {
  margin: 1em;
}

.register input {
  width: 100%;
  background: #131212;
  outline: none;
  padding: 1em 0.7em;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 1em;
}

/* update link form*/
.update p {
  margin: 1em;
}

.update input {
  width: 100%;
  background: #131212;
  outline: none;
  padding: 1em 0.7em;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 1em;
}

/* update user form */
.updateuser-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

.updateuser-container h2 {
  margin-bottom: 1em;
}

.updateuser-container input {
  width: 100%;
  background: #131212;
  outline: none;
  padding: 1em 0.7em;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 1em;
  margin-bottom: 2em;
}

#id_bio {
  background: #131212;
  padding: 0.7em;
  border: none;
  outline: none;
  width: 30em;
}

.submit {
  cursor: pointer;
  margin-top: 1em;
}

form input {
  width: 100%;
  background: #131212;
  outline: none;
  padding: 1em 0.7em;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 1em;
}/*# sourceMappingURL=style.css.map */