/* add link form */
.addlink p {
    margin: 1em;;
}
.addlink input {
    width: 100%;
    border: 1px solid black;
    outline: none;
    padding: .5em 1em;
    border-radius: 5px;
}
.addlink .submit {
    cursor: pointer;
}